/*
# fc = font-color
# fs = font-size
# bg = background
# fSize = font-size //e.g. fSize21 = font-size: 21px
*/

h1 {
    margin-block-end: 0;
}

button,
input {
    cursor: pointer;
}

.bg-join-blue {
    background-color: #2A3647 !important;
}

.bg-transparent {
    background-color: transparent!important;
}

.fc-white {
    color: #ffffff !important;
}

.fc-grey {
    color: #A8A8A8 !important;
}

.fc-join-blue {
    color: #2A3647 !important;
}

.border-join-blue {
    border: 1px solid #2A3647 !important;
}

.fSize-16 {
    font-size: 16px!important;
}

.fSize-21 {
    font-size: 21px!important;
}

.fSize-61 {
    font-size: 61px !important;
}

.bold {
    font-weight: bold !important;
}

.icon-letter {
    position: relative;
    background-image: url("img/icons/mail.png");
    background-repeat: no-repeat;
    background-position: center right 20px;
    background-size: 20px;
}

.icon-lock {
    position: relative;
    background-image: url("img/icons/lock.png");
    background-repeat: no-repeat;
    background-position: center right 20px;
    background-size: 20px;
}

.icon-person {
    position: relative;
    background-image: url("img/icons/person.png");
    background-repeat: no-repeat;
    background-position: center right 20px;
    background-size: 20px;
}

::placeholder {
    color: #ADADAD !important;
}

.summary-button-color {
    color: black ;
    background-color: #ffffff ;
}

.summary-button-color:hover{
    color: #ffffff !important;
    background-color: #2A3647 !important;
}

.summary-button-number {
    font-size: 64px;
    font-weight: 600;
}

.summary-button-text-small {
    font-size: 16px;
    font-weight: 400;
}

.summary-button-text-medium {
    font-size: 20px;
    font-weight: 400;
}

.summary-button-text-large {
    font-size: 21px;
    font-weight: 700;
}

.summary-title-large {
    font-size: 61px;
    font-weight: 700;
}

.summary-title-small {
    font-size: 27px;
    font-weight: 400;
}

.summary-greeting {
    font-size: 47px;
    font-weight: 500;
}

.summary-greeting-name {
    font-size: 64px;
    font-weight: 700;
    color: #29ABE2;
}

.summary-button-size-small {
    width: 168px !important;
    height: 168px !important;
}

.summary-button-size-medium {
    width: 264px !important;
    height: 168px !important;
}

.summary-button-size-large {
    width: 560px !important;
    height: 168px !important;
}

.summary-button-width-text {
    width: 93px!important;
    text-align: center;
}

.summary-button-box {
    height: 562px !important;
    margin-top: 56px !important;
    margin-left: 328px !important;
    margin-right: 80px !important;
}

.summary-title-box {
    gap: 30px !important;
    margin-top: 206px !important;
    margin-left: 328px !important;
}

.rounded-30 {
    border-radius: 30px;
}

.summary-line {
    width: 2px !important;
    height: 102px !important;
    background-color:#D1D1D1;
}
.summary-title-line {
    width: 3px !important;
    height: 59px !important;
    background-color:#29ABE2;
}

.summary-icon {
    max-width: 69px !important;
    height: 69px !important;
}

.summary-done-icon {
    width: 69px !important;
    height: 69px !important;
    background-image: url(./img/icons/done_icon.png);
    background-repeat: no-repeat;
}

.summary-done:hover + .summary-done-icon {
    background-image: url(./img/icons/done_hover_icon.png) !important;
}

.summary-icon-numberbox {
    width: 130px !important;
    height: 96px !important;
}

.p-10{
    padding: 10px;
}

.link-noDeco-black {
    text-decoration: none;
    color: #000000;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.redStar {
    color: red !important;
}

.divider {
    height: 100% !important;
    width: 1px !important;
    border-left: 1px solid grey !important;
}

.spacer {
    margin-top: 24px;
}