/*
# fc = font-color
# fs = font-size
# bg = background
# fSize = font-size //e.g. fSize21 = font-size: 21px
*/

.bg-join-blue {
    background-color: #2A3647 !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.fc-white {
    color: #ffffff !important;
}

.fc-grey {
    color: #A8A8A8 !important;
}

.fc-join-blue {
    color: #2A3647 !important;
}

/* start bg-user colors */
.bg-orange {
    background-color: #FF7A00;
}

.bg-purple {
    background-color: #9327FF;
}

.bg-blue {
    background-color: #6E52FF;
}

.bg-pink {
    background-color: #FC71FF;
}

.bg-yellow {
    background-color: #FFBB2B;
}

.bg-green {
    background-color: #1FD7C1;
}

.bg-dark-blue {
    background-color: #462F8A;
}

.bg-red {
    background-color: #FF4646;
}

.bg-grey {
    .addedContacts {
        background-color: #2A3647;
        border-radius: 12px;
    }
}
/*  end bg-user colors */