@media (max-width: 1530px) {
    /* board.html (addTask-Overlay) */
    .addTaskWrapperLeft {
        margin-right: 24px;
    }

    .addTaskWrapperRight {
        margin-left: 24px;
    }

    #title,
    textarea,
    #selectInputAssignee,
    #datePicker,
    #categorySelect,
    .addTaskEnterSubtask {
        width: 395px;
    }

    .priority {
        width: 395px;
    }

    .addTaskOverlayHeadline {
        justify-content: initial;
        gap: 70%;
    }

    .addTaskOverlayHeadline > h1 {
        font-size: 32px;
    }
}

@media (max-width: 1400px) {
    /* board.html */
    #mainWrapper {
        padding-left: 40px;
    }

    /* board.html (addTask-Overlay) */
    .addTaskWrapperLeft {
        margin-right: 12px;
    }

    .addTaskWrapperRight {
        margin-left: 12px;
    }

    #title,
    textarea,
    #selectInputAssignee,
    #datePicker,
    #categorySelect,
    .addTaskEnterSubtask {
        width: 300px;
    }

    .priority {
        width: 300px;
    }

    .addTaskOverlayHeadline {
        justify-content: initial;
        gap: 70%;
    }

    .addTaskOverlayHeadline > h1 {
        font-size: 32px;
    }
}

@media (max-width: 1360px) {
    #mainWrapper {
        width: 80%;
        padding-left: 80px;
    }
}

@media (max-width: 1200px) {
    /* index.html (dashboard) */
    .welcome-text {
        display: none;
    }
}

@media (max-width: 1120px) {
    /* index.html (dashboard) */
    .addTaskWrapper {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 24px;
    }

    .divider {
        display: none;
    }

    .addTaskWrapperLeft {
        margin-right: 0 !important;
    }

    .addTaskWrapperRight {
        margin-left: 0 !important;
    }

    .outerTaskOverlayWrapper {
        height: 75vh;
    }
}

@media (max-width: 1050px) {
    /* index.html (dashboard) */
    h1.project-title {
        font-size: 32px !important;
    }
}

@media (max-width: 970px) {
    /* index.html (dashboard) */
    h1.project-title {
        font-size: 26px !important;
    }

    section#sidebar {
        display: none !important;
    }

    #index-centerBox {
        justify-content: center;
        align-items: center;
    }

    #index-centerBox > div:nth-child(1) {
        margin-left: 0 !important;
    }

    .summary-title-large {
        font-size: 40px !important;
    }

    #summary-button-box {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    #mobileNavBar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .responsive-mobile-menu {
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: absolute;
        bottom: 0;
        background-color: #2A3647;
        padding: 0 16px;
    }

    .mobileMenu-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .mobileMenu-wrapper > a {
        width: 76px;
        height: 76px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mobileMenu-wrapper > a > p {
        font-size: 14px !important;
        color: white !important;
    }
}

@media (max-width: 800px) {
    #email {
        height: calc(-30px);
    }
}

@media (max-width: 670px) {
    /* Login Page */
    .resp-signUp {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
    }

    .signUp_btn_desktop {
        display: none;
    }

    #loginForm {
        max-width: 500px;
    }

    button#logIn {
        width: 90px;
    } 

    button#guestLogIn {
        width: 156px;
    }

    button#logIn,
    button#guestLogIn {
        font-size: 16px !important;
    }

    #loginWrapper {
        margin-top: 48px;
    }

    #loginForm { 
        padding: 28px 80px;
    }

    #loginForm > h1 {
        font-size: 48px !important;
    }

    .signUp_btn_responsive > p {
        font-size: 20px;
    }

    /* index.html (dashboard) */
    header > div > h1 {
        margin-left: 16px !important;
    }
}

@media (max-width: 570px) {
    /* Sign Up Page */
    #signUpCredentials > form > input {
        width: 70vw;
    }

    .signUp-title > div > h1 {
        font-size: 48px !important;
        margin-left: 24px;
    }

    /* index.html (dashboard) */
    #index-centerBox {
        width: 100%;
    }

    #button-row1 > a ,
    #button-row2 > div ,
    #button-row3 > a {

    }
}

@media (max-width: 500px) {
    /* Sign Up Page */
    .signUp-title > div > h1 {
        font-size: 32px !important;
    }

    #loginForm {
        max-width: 370px;
    }

    #loginCredentials > form > input {
        max-width: 320px;
    }

    button#logIn {
        max-width: 65px;
    }
    button#guestLogIn {
        max-width: 130px;
    }

    /* index.html (dashboard) */
    #index-centerBox {
        width: 75% !important;
    }
}

@media (max-width: 415px) {
    .join-logo {
        height: 80px;
        width: 70px;
    }

    .loginHeader {
        justify-content: center;
    }

    #loginForm > h1 {
        font-size: 40px !important;
    }

    button#logIn {
        width: 75px;
    }

    button#guestLogIn {
        width: 115px;
    }

    .footerLinks {
        font-size: 16px;
    }

    /* Sign Up Page */
    .loginForm, .signUpForm {
        padding: 42px 63px;
    }
    .signUp-title {
        flex-direction: column-reverse;
        justify-content: center!important;
        align-items: center !important;
        margin-top: 0 !important;
        padding: 0 !important;
    }

    .signUp-title > div > h1 {
        margin: 0 0 16px 0;
    }
}

@media (max-width: 360px) {
    /* Log-In Page */
    .signUp_buttons {
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .signUp_buttons > button {
        width: 100%;
        display: block;
        flex-direction: column;
        margin-bottom: 12px;
    }

    #loginForm {
        max-width: 320px;
    }

    #loginCredentials > form > input {
        max-width: 280px;
    }

    button#logIn {
        width: 200px;
        max-width: 200px!important;
    }

    button#guestLogIn {
        width: 200px;
        max-width: 200px;
    }
}

@media (max-width: 320px) {
    /* Log-In Page */
    #loginForm {
        max-width: 250px;
    }

}