@media (max-width: 1200px) {
    /* index.html */
    .welcome-text {
        display: none;
    }
}

@media (max-width: 1050px) {
    /* index.html */
    h1.project-title {
        font-size: 32px !important;
    }
}

@media (max-width: 970px) {
    /* index.html */
    h1.project-title {
        font-size: 26px !important;
    }

    section#sidebar {
        display: none !important;
    }

    #index-centerBox {
        justify-content: center;
        align-items: center;
    }

    #index-centerBox > div:nth-child(1) {
        margin-left: 0 !important;
    }

    .summary-title-large {
        font-size: 40px !important;
    }

    #mobileNavBar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .responsive-mobile-menu {
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: absolute;
        bottom: 0;
        background-color: #2A3647;
        padding: 0 16px;
    }

    .mobileMenu-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .mobileMenu-wrapper > a {
        width: 76px;
        height: 76px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mobileMenu-wrapper > a > p {
        font-size: 14px !important;
        color: white !important;
    }
}

@media (max-width: 800px) {
    #email {
        height: calc(-30px);
    }
}

@media (max-width: 670px) {
    /* Login Page */
    .resp-signUp {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
    }

    .signUp_btn_desktop {
        display: none;
    }

    #loginForm {
        max-width: 500px;
    }

    button#logIn {
        width: 90px;
    } 

    button#guestLogIn {
        width: 156px;
    }

    button#logIn,
    button#guestLogIn {
        font-size: 16px !important;
    }

    #loginWrapper {
        margin-top: 48px;
    }

    #loginForm { 
        padding: 28px 80px;
    }

    #loginForm > h1 {
        font-size: 48px !important;
    }

    .signUp_btn_responsive > p {
        font-size: 20px;
    }
}

@media (max-width: 570px) {
    /* Sign Up Page */
    #signUpCredentials > form > input {
        width: 70vw;
    }

    .signUp-title > div > h1 {
        font-size: 48px !important;
        margin-left: 24px;
    }
}

@media (max-width: 500px) {
    /* Sign Up Page */
    .signUp-title > div > h1 {
        font-size: 32px !important;
    }

    #loginForm {
        max-width: 370px;
    }

    #loginCredentials > form > input {
        max-width: 320px;
    }

    button#logIn {
        max-width: 65px;
    }
    button#guestLogIn {
        max-width: 130px;
    }
}

@media (max-width: 415px) {
    .join-logo {
        height: 80px;
        width: 70px;
    }

    .loginHeader {
        justify-content: center;
    }

    #loginForm > h1 {
        font-size: 40px !important;
    }

    button#logIn {
        width: 75px;
    }

    button#guestLogIn {
        width: 115px;
    }

    .footerLinks {
        font-size: 16px;
    }

    /* Sign Up Page */
    .loginForm, .signUpForm {
        padding: 42px 63px;
    }
    .signUp-title {
        flex-direction: column-reverse;
        justify-content: center!important;
        align-items: center !important;
        margin-top: 0 !important;
        padding: 0 !important;
    }

    .signUp-title > div > h1 {
        margin: 0 0 16px 0;
    }
}

@media (max-width: 360px) {
    /* Log-In Page */
    .signUp_buttons {
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .signUp_buttons > button {
        width: 100%;
        display: block;
        flex-direction: column;
        margin-bottom: 12px;
    }

    #loginForm {
        max-width: 320px;
    }

    #loginCredentials > form > input {
        max-width: 280px;
    }

    button#logIn {
        width: 200px;
        max-width: 200px!important;
    }

    button#guestLogIn {
        width: 200px;
        max-width: 200px;
    }
}

@media (max-width: 320px) {
    /* Log-In Page */
    #loginForm {
        max-width: 250px;
    }

}