html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif !important;
    font-size: 24px;
    background: #F6F7F8 !important;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*##### General- & template stylings #####*/

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

a,
img {
    cursor: pointer !important;
}

#bodyWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#centerWrapper {
    width: 100%;
    height: 100%;
}

/*##### END OF General- & template stylings #####*/

/*##### START OF sidebar stylings #####*/


#sidebar {
    position: relative;
    width: 232px;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 1);
    background-color: #2A3647;
}

#sideBarContainer {
    height: 100%;
}

section#sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

section#sidebar > div:first-of-type > a > img {
    margin-top: 50px;
}

section#sidebar > img {
    width: 100px;
    height: 122px;
}

#sidebar-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
}

#sidebar-content > a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    color: #ffffff;
}

#sidebar-content > a > img {
    margin-right: 12px;
}

.sideBar-footer {
    margin-bottom: 4rem;
}

/*##### END OF sidebar stylings #####*/

.loginHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
}

.signUp_btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

button#signUp {
    width: 90px;
    height: 50px;
    border-radius: 10px;
    background: #2A3647;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

button#logIn,
button#guestLogIn {
    width: 110px;
    height: 50px;
    border-radius: 10px;
    background: #2A3647;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

button#guestLogIn {
    width: 177px;
}

.loginWrapper,
.signUpWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm,
.signUpForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    max-width: 652px;
    min-height: 400px;
    border-radius: 24px;
    padding: 48px 115px;
}

.headlineBorder {
    height: 3px;
    width: 20%;
    background-color: #29ABE2;
    margin: 8px 0 40px 0;
}

input {
    height: 22px;
}

input:focus {
    outline: none !important;
    cursor: auto;
}

input::placeholder,
textarea::placeholder,
select::placeholder,
input[type=date] {
    font-size: 16px;
}

#loginCredentials > form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loginCredentials > form:nth-of-type(2){
    margin-top: 40px;
}

#loginCredentials > form > input,
#signUpCredentials > form > input {
    width: 422px;
    padding: 12px 30px 12px 21px !important;
    gap: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

#loginCredentials > form:nth-of-type(2) {
    flex-direction: row;
    gap: 24px;
}

#signUpCredentials > form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loginCredentials > form > input:first-of-type {
    margin-bottom: 24px;
}

#signUpCredentials > form > input {
    margin-bottom: 24px;
}

.signUpCheckBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkBox {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.checkBox > span,
.signUpCheckBox > span {
    font-size: 16px;
    margin: 16px 0 16px 16px;
}

.checkBox > input[type=checkbox],
.signUpCheckBox > input[type=checkbox]{
    height: 20px;
    width: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

.big-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button:hover {
    background: #4589FF !important;
    border: #4589FF !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25) !important;
}

button#guestLogIn:hover {
    background: #ffffff !important;
    color: #4589FF !important;
    border: #4589FF !important;
}

.container {
    margin-left: 232px !important;
}

section#header {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

section#header > header > div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

header {
    background-color: #ffffff;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div:last-of-type > img:first-of-type {
    margin-right: 24px;
}

header > div > h1 {
    margin-left: 83px;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end{
    justify-content: end;
}

.text-decoration-none {
    text-decoration: none;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.m-0 {
    margin: 0 !important;
}

.wrap {
    padding: 50px 100px 0 350px;
}

.main > div > h3 {
    margin-top: 24px !important;
}

.head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 250px;
    margin-bottom: 150px;
}

.head > img {
    height: 30px;
    width: 30px;
    vertical-align: center;
    justify-content: center;
    align-items: center;
}

.main {
    margin: 40px 83px 40px 83px;
}

.main > div {
    margin-bottom: 48px;
}

.main > div > h3 {
    margin-bottom: 10px;
}

.addTaskWrapper {
    display: flex;
    justify-content: flex-start;
}

.addTaskWrapperLeft,
.addTaskWrapperRight {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.gap-4 {
    gap: 4px;
}

.gap-10 {
    gap: 10px;
}

.gap-32 {
    gap: 32px;
}

.-m-8 {
    margin-right: -8px;
}

.d-none {
    display: none !important;
}

.rounded-30 {
    border-radius: 30px;
}

.rounded-8 {
    border-radius: 8px;
}

.rounded-100 {
    border-radius: 100%;
}

/* start bg-user colers */

.bg-orange {
    background-color: #FF7A00;
}

.bg-purple {
    background-color: #9327FF;
}

.bg-blue {
    background-color: #6E52FF;
}

.bg-pink {
    background-color: #FC71FF;
}

.bg-jelliow {
    background-color: #FFBB2B;
}

.bg-green {
    background-color: #1FD7C1;
}

.bg-dark-blue {
    background-color: #462F8A;
}

.bg-red {
    background-color: #FF4646;
}

/*  end bg-user colors */

/*##### START OF Add-task section #####*/

.centerWrapperHeadline {
    margin-top: 48px;
}

select#selectInputAssignee,
select#categorySelect {
    box-sizing: inherit;
}

#title,
textarea,
#selectInputAssignee,
#datePicker,
#categorySelect,
.addTaskEnterSubtask {
    width: 428px;
    height: 48px;
    padding: 16px 30px 12px 16px !important;
    gap: 10px;
    border: 1px solid lightgray !important;
    border-radius: 10px;
}

#description {
    height: 120px !important;
}

#subtasks {
    border: none;
    width: 80%;
}

.addTaskWrapperLeft {
    margin-right: 48px;
}

.addTaskWrapperRight {
    margin-left: 48px;
}

.addTaskWrapperRight > div {
    margin-bottom: 48px;

}

.addTaskPrioLow {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/icons/low_icon.png);
}

.addTaskPrioMedium {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/icons/medium-colored-icon.png);
}

.addTaskPrioUrgent {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/icons/urgent_icon.png);
}

.addTaskPrioLowActive {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/icons/low_with_icon.png);
}

.addTaskPrioMediumActive {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/icons/medium_icon.png);
}

.addTaskPrioUrgentActive {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/icons/urgent_with_icon.png);
}

.addTaskAdd {
        background-image: url(../img/icons/add.png);
        margin-right: 5px;
        width: 14px;
        height: 14px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 100%;
}

#addTaskAddSubtaskButton {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    box-shadow: none !important;
}

.addTaskSubtask {
    border-right: none !important;
}

.addTaskEnterSubtask {
    border-radius: 10px;
    background-color: white;
    border: 1px #A8A8A8;
}

.subtaskStorage {
    list-style-type:none;
}

.addTaskSubtaskShow {
    width: 440px;
    height:  32px;
    padding: 6px 16px 6px 16px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    border-radius: 10px;
    margin-top: 10px;
}

.addTaskSubtaskShow:hover {
    background-color: #E7E7E7;
}

.addTaskSubtaskShow:hover .addTaskSubtaskEdit {
    background-image: url(../img/icons/edit_icon.png) !important;
}

.addTaskSubtaskEdit:hover {
    background-color: #EEEEEE !important;
}

.addTaskSubtaskEdit {
    background: none;
	border: none;
	cursor: pointer;
    width: 24px;
    height: 24px;
}

.addTaskSubtaskShow:hover .addTaskSubtaskVertikalLine {
    height: 24px;
    width: 1px;
    background-color: #A8A8A8;
}

.addTaskSubtaskShow:hover .addTaskSubtaskWaste {
    background-image: url(../img/icons/delete_icon.png) !important;
}

.addTaskSubtaskWaste:hover {
    background-color: #EEEEEE !important;
}

.addTaskSubtaskWaste {
    background: none;
	border: none;
	cursor: pointer;
    width: 24px;
    height: 24px;
}

.priorityButton {
    width: 136px;
    height: 56px;
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
    font-size: 19px;
    margin-right: 8px;
}

.priorityButtonActiv {
    width: 136px;
    height: 56px;
    border-radius: 10px;
    border: none;
    font-size: 19px;
    margin-right: 8px;
    background: #FFA800 !important;
    color: #ffffff;
}

.priorityButtonActiv:hover {
    background: #FFA800 !important;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}

button.priorityButton:hover {
    background-color: #ffffff !important;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}

button.priorityButton:active {
    background: #FFA800 !important;
    color: #ffffff;
}

button.priorityButton:active .addTaskPrioLow {
    background-image: url(../img/icons/low_with_icon.png);
}

button.priorityButton:active .addTaskPrioMedium {
    background-image: url(../img/icons/medium_icon.png);
}

button.priorityButton:active .addTaskPrioUrgent {
    background-image: url(../img/icons/urgent_with_icon.png);
}

.priorityImg {
    height: 14px;
    width: 20px;
    padding: 0;
    margin-left: 8px;
}

#addTaskBottom {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#createTaskButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

button#clear,
button#create {
    width: 110px;
    height: 50px;
    border-radius: 10px;
    background: #ffffff;
    color: #000000;
    font-size: 19px;
    font-weight: bold;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

button#create {
    width: 183px;
    background: #2A3647;
    color: #ffffff;
}

#createTaskButton > button:first-of-type {
    margin-right: 16px;
}

.createTaskButtonImg {
    margin-left: 8px;
}

select {
    width: 480px;
}

/*##### END OF Add-task section #####*/

/*##### START OF board.html section #####*/
#addTask {
    margin-right: 80px;
}

/*##### END OF board.html section #####*/

/*##### START OF AddTASK Overlay section #####*/
.addTaskOverlay,
.taskOverlay,
.contactOverlay {
    background-color: rgba(0, 0, 0, 0.66);
    width: 100%;
    height: 100vh;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 2;
}

.outerTaskOverlayWrapper {
    background-color: #F6F7F8;
    height: 65vh;
    width: 65vw;
    padding: 50px;
    border-radius: 40px;
    position: absolute;
}
/* TASK-OVERLAY SLIDING FROM TOP */
.slide-top {
    position: absolute;
    top: -100%;
    -webkit-animation: slide-top 0.5s forwards;
    -webkit-animation-delay: 150ms;
    animation: slide-top 0.5s forwards;
    animation-delay: 150ms;
}

@-webkit-keyframes slide-top {
    100% { top: 15%; }
}

@keyframes slide-top {
    100% { top: 15%; }
}
/* END OF TASK-OVERLAY SLIDING FROM TOP */

.addTaskWrapperOverlay {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

#addTaskOverlayBottom {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addTaskOverlayHeadline {
    display: flex;
    justify-content: space-between;
}

.addTaskOverlayHeadline > img {
    height: 32px;
    width: 32px;
}
/*##### END OF AddTASK Overlay section #####*/

/*##### START OF Task Overlay section #####*/
.taskOverlayWrapper {
    max-height: 898px;
    background-color: #F6F7F8;
    width: 525px;
    padding: 48px 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
    font-size: 20px;
}

.taskOverlayType,
.taskOverlayTitle,
.taskOverlayFacts,
.taskOverlayAssignee,
.taskOverlayCheckbox {
    width: 100%;
    margin-bottom: 24px;
}

.taskOverlayType {
    display: flex;
    justify-content: space-between;
}

.taskOverlayType > img {
    height: 32px;
    width: 32px;
}

.issueType {
    height: 28px;
    padding: 6px;
    border-radius: 10px;
    color: #ffffff;
    min-width: 160px;
    display: flex;
    justify-content: center;
    font-size: 23px;
}

.taskOverlayTitle {
    font-size: 61px;
    font-weight: bold;
}

.taskOverlayFacts > p {
    margin-bottom: 16px;
}

.taskOverlayFacts > p:first-of-type {
    margin-top: 24px;
}

.taskOverlayBottomEdit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    flex-direction: row;
}

.editBar {
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.editBar > p {
    font-size: 16px;
}

.editBar:last-of-type {
    margin-left: 8px;
}

.editBar:last-of-type:before {
    content: " | ";
    margin-right: 8px;
}

ul {
    list-style-type: none;
}

.unstyled-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* TASK-OVERLAY SLIDING FROM RIGHT */
.slide-right {
    position: absolute;
    right: -100%;
    -webkit-animation: slide-right 0.5s forwards;
    -webkit-animation-delay: 150ms;
    animation: slide-right 0.5s forwards;
    animation-delay: 150ms;
}

@-webkit-keyframes slide-right {
    100% { right: 35%; }
}

@keyframes slide-right {
    100% { right: 35%; }
}

#board-task-on-done:hover {
    cursor: pointer;
}
/* END OF TASK-OVERLAY SLIDING FROM RIGHT */

/* start of EDIT-OVERLAY selection  */
.editTaskBottom {
    justify-content: end;
}

.editTaskEditBottom {
    max-width: 89px;
    height: 57px;
    background: #2A3647;
    color: #ffffff;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 700;
}

.taskOverlayTypeEdite {

    width: 100%;
    margin-bottom: 24px;
    justify-content: end;
}

.taskOverlayTypeEdite > img {
    height: 32px;
    width: 32px;
}

.editTaskWrapper {
    font-weight: 400 !important;
    color: #2A3647 !important;
}

.scrollbarTaskOverlayWrapper {
    width: 100%;
    max-height: 697px; 
}

.scrollbox {
    overflow:scroll;
    overflow-x:hidden;
}

@supports (scrollbar-color: auto) {
    .scrollbox {
        scrollbar-color: #A8A8A8 rgb(246, 247, 248);
    }
}

/* Otherwise, use `::-webkit-scrollbar-*` pseudo-elements */
@supports selector(::-webkit-scrollbar) {
    .scrollbox::-webkit-scrollbar {
        background: #A8A8A8;
    }
}
/*##### END OF Task Overlay section #####*/

/*##### START OF AddContact Overlay section #####*/
.contactOverlayWrapper {
    display: flex;
    min-height: 592px;
}

.contactOverlayLeft {
    background-color: #2A3647;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 467px;
    /*width: 467px;*/
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 130px 0 40px 40px;
}

.contactOverlayLeft > * {
    margin-bottom: 24px;
    color: #ffffff;
}

.contactJoinLogo {
    width: 56px;
    height: 66px;
}

.addContactFormAvatar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

input#newContactName,
input#newContactMail,
input#newContactPhone {
    width: 402px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid lightgray;
    padding: 4px 4px 4px 16px;
}

.addContactForm > form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.addContactForm > form > * {
    margin-bottom: 16px;
}

.close {
    display: flex;
    justify-content: flex-end;
    height: 120px;
    margin: 16px 16px 0 0;
}

.close-img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    width: 40px;
}

.avatar {
    display: flex;
}

.avatar-img {
    height: 134px;
    width: 134px;
}

.contactOverlayRight {
    background-color: #ffffff;
    width: 745px;
}

.createContactButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    margin-right: 48px;

}

.clearNewContact {
    background-color: #ffffff !important;
    color: #2A3647 !important;
    width: 130px !important;
    border: 1px solid #2A3647 !important;
}

.clearNewContact,
.createNewContact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: #2A3647;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

/*##### END OF AddContact Overlay section #####*/

input[required] {
    border-color: red;
}

#contactsMain {
    display: flex;
    margin-top: 1px;
}

#contactLeft {
    justify-content: center;
    background: #fff;
    width: 456px;
    height: 100vh;
}

#contactList {
    padding: 0 24px 32px 16px;
    max-height: 85%;
    overflow-y: auto;
    overflow-x: hidden;
}

.contactLetter {
    width: 352px;
    font-size: 24px;
    font-weight: normal;
    display: flex;
    padding: 17px 36px;
    border-bottom: 1px solid #d7d7d7;
}

.activeContact {
    background-color: #2A3647;
    color: #ffffff;
    border-radius: 8px;
    height: 100%;
}

.namesList {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    padding: 8px 0 0 8px;
    border-radius: 10px;
    cursor: pointer;
}

.contactItem {
    width: 352px;
    font-size: 20px;
    font-weight: 400;
    padding: 15px 24px;
}

.innerContactDetailWrapper {
    display: flex;
}

#userProfile {
    padding-right: 32px;
}

.emailLink {
    color: #007cee;
    font-size: 16px;
}

.newContactButton {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

button#newContact {
    width: 90%;
    height: 50px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 19px;
    font-weight: bold;
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2A3647;
}

#contactsRight {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 80px 0 0 40px;
}

.spacerDiv {
    height: 100%;
    width: 5px;
    background: #29ABE2;
    border-radius: 3px;
}

#contactRightHeadSection {
    width: 80%;
    height: 64px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    margin-bottom: 40px;
}

#contactTitle {
    width: 80%;
    display: flex;
    gap: 60px;
}

#contactAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 5px solid #ffffff;
}

.credentialsCircle {
    color: #ffffff;
    background-color: #0100FF;
    height: 119px;
    width: 119px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.currentName {
    font-size: 47px;
    font-weight: 500;
    margin-bottom: 12px;
}

#editButtons {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;
}

#editCurrentContact,
#deleteCurrentContact {
    display: flex;
    align-items: center;
    gap: 8px;
}

#editCurrentContact:hover,
#deleteCurrentContact:hover {
    cursor: pointer;
    color: #0100FF;
}

#contactDetails {
    margin-top: 40px;
    column-gap: 24px;
    font-size: 16px;
}

#contactDetails > p {
    font-size: 22px;
}

#contactDetails > * {
    margin-bottom: 32px;
}

.mailLink:hover,
.phoneLink:hover {
    cursor: pointer;
    color: #007cee;
}

.alert-massage {
    color: #FF8190;    
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    text-align: left !important;   
}

.alert-filled {
    border-color: #FF8190 !important;  
}