.summary-button-color {
    color: black;
    background-color: #ffffff;
}

.summary-button-color:hover {
    color: #ffffff !important;
    background-color: #2A3647 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}

.summary-button-color:active {
    color: black !important;
    background-color: #ffffff!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}

.summary-button-number {
    font-size: 64px;
    font-weight: 600;
}

.summary-button-text-small {
    font-size: 16px;
    font-weight: 400;
}

.summary-button-text-medium {
    font-size: 20px;
    font-weight: 400;
}

.summary-button-text-large {
    font-size: 21px;
    font-weight: 700;
}

.summary-title-large {
    font-size: 61px;
    font-weight: 700;
}

.summary-title-small {
    font-size: 27px;
    font-weight: 400;
}

.summary-greeting {
    font-size: 47px;
    font-weight: 500;
}

.summary-greeting-name {
    font-size: 64px;
    font-weight: 700;
    color: #29ABE2;
}

.summary-button-size-small {
    width: 168px;
    height: 168px;
}

.summary-button-size-medium {
    width: 264px;
    height: 168px;
}

.summary-button-size-large {
    width: 560px;
    height: 168px;
}

.summary-button-width-text {
    width: 93px !important;
    text-align: center;
}

.summary-button-box {
    height: 562px !important;
    margin-top: 56px !important;
    margin-left: 83px !important;
    margin-right: 80px !important;
}

.summary-title-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
    margin-left: 83px;
}

.summary-line {
    width: 2px !important;
    height: 102px !important;
    background-color: #D1D1D1;
}

.summary-title-line {
    width: 3px !important;
    height: 59px !important;
    background-color: #29ABE2;
}

.summary-todo-icon {
    width: 69px !important;
    height: 69px !important;
    background-image: url(../img/icons/todo_icon.png);
    background-repeat: no-repeat;
}

.summary-todo:hover .summary-todo-icon {
    background-image: url(../img/icons/todo_hover_icon.png) !important;
}

.summary-todo:active .summary-todo-icon {
    background-image: url(../img/icons/todo_icon.png) !important;
}

.summary-done-icon {
    width: 69px !important;
    height: 69px !important;
    background-image: url(../img/icons/done_icon.png);
    background-repeat: no-repeat;
}

.summary-done:hover .summary-done-icon {
    background-image: url(../img/icons/done_hover_icon.png) !important;
}

.summary-done:active .summary-done-icon {
    background-image: url(../img/icons/done_icon.png) !important;
}

.summary-icon-numberbox {
    width: 130px !important;
    height: 96px !important;
}