<section id="header">
    <header>
        <div>
            <h1 class="project-title">Kanban Project Management Tool</h1>
        </div>
        <div>
            <a href="./help.html">
                <img src="./img/icons/help.png" alt="help">
            </a>
            <img onclick="templateNavbarOpenClose()" src="./img/icons/userProfile.png" alt="userProfile">
        </div>
    </header>
    <div id="header-Navbar" class="template-navbar-position d-none">
        <div class="template-navbar">
            <a class="template-navbar-a" href="../legal.html">Legal Notice</a>
            <a class="template-navbar-a" href="../privacy.html">Privacy Policy</a>
            <a class="template-navbar-a" href="../login.html">Log out</a>
        </div>
    </div>
</section>