<div id="responsive-mobile-menu" class="responsive-mobile-menu">
    <div class="mobileMenu-wrapper">
        <a id="sidebarlink-1" href="index.html">
            <img src="./img/icons/summary.png" alt="summary">
            <p>Summary</p>
        </a>
        <a id="sidebarlink-2" href="add_task.html">
            <img src="./img/icons/addTask.png" alt="add-task">
            <p>Add Task</p>
        </a>
        <a id="sidebarlink-3" href="board.html">
            <img src="./img/icons/board.png" alt="backlog">
            <p>Board</p>
        </a>
        <a id="sidebarlink-4" href="contacts.html">
            <img src="./img/icons/contacts.png" alt="contacts">
            <p>Contacts</p>
        </a>
    </div>
</div>