<section id="sidebarNoUser">
    <div>
        <a>
            <img src="./img/join_logo_for_sidebar.png" >
        </a>
    </div>

    <div class="sideBar-footer">
        <div id="sidebarlink-5" class="sideBarContainerLink" class="footerLinks fc-grey">
            <a href="privacy.html" target="_self" class="fc-grey">Privacy Policy</a>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div id="sidebarlink-6" class="sideBarContainerLink" class="footerLinks link-noDeco-black">
            <a href="legal.html" target="_self" class="fc-grey">Legal Notice</a>
        </div>
    </div>
</section>