<section id="sidebar">
    <div>
        <img src="./img/join_logo_for_sidebar.png" alt="">
    </div>
    <div id="sidebar-content">
        <a href="">
            <img src="./img/icons/summary.png" alt="summary">
            Summary
        </a>
        <a href="">
            <img src="./img/icons/addTask.png" alt="add-task">
            Add Task
        </a>
        <a href="">
            <img src="./img/icons/board.png" alt="backlog">
            Board
        </a>
        <a href="">
            <img src="./img/icons/contacts.png" alt="contacts">
            Contacts
        </a>
    </div>
</section>